<%- include("partials/header") %>

<div class="history-header">
    <h1>TRANSACTION HISTORY</h1>
</div>

<div class='table'>

    <table  style="color:rgb(0, 0, 0); font-weight: 1000;">
        <tr>
            <th>Transferred From</th>
            <th>Transferred To</th>
            <th>Money</th>
        </tr>

    <% for(let transaction of transactions){ %>
        <tr>
            <td><%= transaction.fromName %></td>
            <td><%= transaction.toName %></td>
            <td><%= transaction.transfer %></td>
        </tr>
<% } %>
    </table>

</div>
<aside>
    <img src="/images/image1.jpg" alt="">
</aside>


<%- include("partials/footer") %>
